<h1>Tell me what you want, what you really, really want!</h1>
<form action="checkout" method="POST">
    <h2><label for="item">Item I want to purchase:</label>
        <input type="text" id="item" name="item">.</h2>
    <input type="submit" id="submit" value="Go to Checkout">
</form>